{{> header}}
<div style="text-align:left;margin-left:25px;" class="body-content">
            Dear Team,

            <p>I hope this email finds you well. My name is <b>{{customerName}}</b> and I am reaching out to inquire about <b>{{subject}}</b>.</p>

            <p>Additionally, I would appreciate it if you could provide the following details:</p>

            <p><b>{{message}}</b></p>

            <p>I look forward to your prompt response. Thank you for your time and assistance.</p>

            <p>Best regards,</p>

            <p><b>{{customerName}}</b><p>
            <p><b>{{customerEmail}}</b></p>
</div>
{{> footer}}